<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_sell})}|">Show Sell - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${sell}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="sell-customerorder-field" data-z="27de6101">
            	      <strong data-th-text="#{label_sell_customerorder}">customerOrder</strong>
                    <span data-th-text="*{{customerOrder}}">customerOrderValue</span>
         	        </li>
                  <li id="sell-stockitem-field" data-z="84f7ab21">
            	      <strong data-th-text="#{label_sell_stockitem}">stockItem</strong>
                    <span data-th-text="*{{stockItem}}">stockItemValue</span>
         	        </li>
                  <li id="sell-pricesell-field" data-z="b893d4e1">
            	      <strong data-th-text="#{label_sell_pricesell}">priceSell</strong>
                    <span data-th-text="*{{priceSell}}">priceSellValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
