<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="productosstock-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('ProductsItemProductosStockThymeleafController')}">
    <table id="productosstock-detail-table-item-to-remove" data-parent-table="product-entity-table" data-data-parent-id="${product != null ? product.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('product', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="producto" data-th-text="#{label_product_productosstock_producto}">producto</th>
              <th data-data="dateIn" data-th-text="#{label_product_productosstock_datein}">dateIn</th>
              <th data-data="dateOut" data-th-text="#{label_product_productosstock_dateout}">dateOut</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>producto</td>
              <td>dateIn</td>
              <td>dateOut</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->