<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_reservation})}|">Show Reservation - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${reservation}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="reservation-customer-field" data-z="27e030e1">
            	      <strong data-th-text="#{label_reservation_customer}">customer</strong>
                    <span data-th-text="*{{customer}}">customerValue</span>
         	        </li>
                  <li id="reservation-stockitem-field" data-z="6d5ae75d">
            	      <strong data-th-text="#{label_reservation_stockitem}">stockItem</strong>
                    <span data-th-text="*{{stockItem}}">stockItemValue</span>
         	        </li>
                  <li id="reservation-startreservation-field" data-z="6b236541">
            	      <strong data-th-text="#{label_reservation_startreservation}">startReservation</strong>
                    <span data-th-text="*{{startReservation}}">startReservationValue</span>
         	        </li>
                  <li id="reservation-expirationreservation-field" data-z="4c839b9d">
            	      <strong data-th-text="#{label_reservation_expirationreservation}">expirationReservation</strong>
                    <span data-th-text="*{{expirationReservation}}">expirationReservationValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
